html,body{
    margin:0px;
}

nav{
    
    width:100%;
    height:60px;
    border-bottom:3px solid black;
}

.meny_item{
    width:25%;
    height:100%;
    float:left;
    text-align: center;
    font-size:50px;
}
.meny_item:hover{
    background-color: red;   
}

